### String data type

In [1]:
'Hello World!'

'Hello World!'

In [2]:
"Hello World!"

'Hello World!'

In [3]:
"""Hello
World!"""

'Hello\nWorld!'

In [4]:
'''Hello
World
!'''

'Hello\nWorld\n!'

In [5]:
'Hello\nWorld!' # raw string

'Hello\nWorld!'

In [6]:
print('Hello\nWorld!') # by default escape characters are interpreted

Hello
World!

In [7]:
print(r'Hello\nWorld!') # it is a raw string, no inter pretation

Hello\nWorld!

In [8]:
'A' # single character represented as string whose length is 1

'A'

### length of a string (number of characters)

In [9]:
len('anand')

5

### String indices and accessing individual characters
#### 1. indexing from left (starting with 0) to right (length of the string minus one)
#### 2. indexing from right (starting with -1) to right (-length of the string)

In [10]:
'anand'[0] # First Character

'a'

In [11]:
'anand'[4] # Last Character

'd'

In [12]:
'anand'[-1] # Last Character with negative indexing

'd'

In [13]:
'anand'[-5] # First Character

'a'

In [14]:
'anand'[3] # Fourth Character

'n'

In [15]:
'anand'[-2] # Fourth Character, positive index 3 == (3-len(str) = 3-5 = -2) in negative indexing

'n'

In [16]:
'anand'[5] # no such index

IndexError: string index out of range

### changing from character to and from unicode/ASCII code

In [17]:
ord('a')

97

In [18]:
ord('#')

35

In [19]:
ord('€')

8364

In [20]:
ord('∑')

8721

In [21]:
ord('ab')

TypeError: ord() expected a character, but string of length 2 found

In [22]:
chr(97)

'a'

In [23]:
chr(35)

'#'

In [24]:
chr(8721)

'∑'

In [25]:
chr(8364)

'€'

In [26]:
chr(0x23) # int as hexadecimal value

'#'

### String methods (changing character case)

In [27]:
'aNanda kumar'.capitalize() # first character changed to upper case, all others lowercase

'Ananda kumar'

In [28]:
'aNanda kumAr'.title() # First character of every character is upper case and rest of the characters in the word lower case

'Ananda Kumar'

In [29]:
'Anand'.upper() # changes the text to uppercase

'ANAND'

In [30]:
'Anand'.lower() # changes text to lowercase

'anand'

In [31]:
'Anand'.casefold() # same as owercase but diffrent with respect to some other languages (German)

'anand'

In [32]:
'Anand'.swapcase()

'aNAND'

### String methods (Formatting)

In [33]:
'Anand'.center(10) # fills with blanks

'  Anand   '

In [34]:
'Anand'.center(10, '#') # fills with the char specified

'##Anand###'

In [35]:
'Anand'.center(3) # returns original string as the specified width is less than the string length

'Anand'

In [36]:
'Anand'.center(10, '#$')

TypeError: The fill character must be exactly one character long

In [37]:
'anand'.ljust(10, '#')

'anand#####'

In [38]:
'anand'.rjust(10, '#')

'#####anand'

In [39]:
'{} + {} = {}'.format(1, 2, 3) # used with print statement to produce formatted strings as output

'1 + 2 = 3'

In [40]:
'{0} + {1} = {2}'.format(1, 2, 3)

'1 + 2 = 3'

In [41]:
'{0} + {1} = {0}'.format(2, 0)

'2 + 0 = 2'

In [42]:
'my name is {name}, aged {age}'.format(name = 'anand', age = 45)

'my name is anand, aged 45'

In [43]:
'my name is {name}, aged {age}'.format(age = 45, name = 'anand')

'my name is anand, aged 45'

In [44]:
'my name is {name}, aged {age}'.format_map({'name': 'anand', 'age': 45})

'my name is anand, aged 45'

In [45]:
'my name is {name}, aged {age}'.format_map({'age': 45, 'name': 'anand'})

'my name is anand, aged 45'

### String methods (count substrings)

In [46]:
'anand'.count('an') # count number of occurences of the substring in the original string

2

In [47]:
'anand'.count('an', 1) # Start Index

1

In [48]:
'anand'.count('an', 1, 3)

0

In [49]:
'anand'.count('na', 1, 3)

1

In [50]:
'anand'.count('na', -4, -2)

1

In [51]:
'anand'.count('an', 3, 1) # invalid indices start > end

0

In [52]:
'anand'.count('an', -2, -4) # invalid indices start > end

0

### String methods (Substring checking)

In [53]:
'an' in 'anand' # check for existence of a substring

True

In [54]:
'ad' in 'anand'

False

In [55]:
'ad' not in 'anand'

True

In [56]:
'na' not in 'anand' # preferred compared to next

False

In [57]:
not 'na' in 'anand'

False

In [58]:
'anand'.startswith('an')

True

In [59]:
'anand'.startswith('an', 1)

False

In [60]:
'anand'.startswith('na', 1)

True

In [61]:
'anand'.startswith('na', 1, 3)

True

In [62]:
'anand'.startswith('na', 1, 2)

False

In [63]:
'anand'.endswith('an')

False

In [64]:
'anand'.endswith('an', 1, 4)

True

In [65]:
'anand'.endswith('an', -3)

False

In [66]:
'anand'.endswith('an', -3, -1)

True

In [67]:
'anand'.endswith('an', -3, -5)

False

In [68]:
'anand'.endswith('nd', -3, -5)

False

In [69]:
'anand'.endswith('nd', 4, 2)

False

In [70]:
'anand'.endswith('nd', -7, -5)

False

In [71]:
'anand'.find('an') # finds the first matched index of the substring in the original string

0

In [72]:
'anand'.find('an', 1)

2

In [73]:
'anand'.find('an', 'anand'.find('an') + 1) # find the second occurence of the substring in the original string (start index)

2

In [74]:
'anand'.find('ad') # not a substring

-1

In [75]:
'anand'.index('ad') # same as find returns -1 if substring not found, index raise value error

ValueError: substring not found

In [76]:
'anand'.index('an')

0

In [77]:
'anand'.index('an', 1, 4)

2

In [78]:
'anand'.rindex('an') # finds from backwards

2

In [79]:
'anand'.rindex('an', 0, 2)

0

In [80]:
'anand'.rindex('an', 0, 'anand'.rindex('an'))

0

#### you can also use negative indices but the functionality or behavior is same with the equivalent positive indices

### String methods (removing specified characters from the beginning and/or ending of a given string)

In [81]:
'     anand      '.lstrip()

'anand      '

In [82]:
'     anand      '.rstrip()

'     anand'

In [83]:
'     anand      '.strip()

'anand'

In [84]:
'www.example.com'.strip('cmowz.')

'example'

In [85]:
'mississippi'.rstrip('ipz')

'mississ'

In [86]:
'mississippi'.lstrip('ims')

'ppi'

### String methods (splitting strings to list of strings)

In [87]:
'anand'.partition('n') # 3-tuple

('a', 'n', 'and')

In [88]:
'Ananda Kumar'.partition(' ')

('Ananda', ' ', 'Kumar')

In [89]:
'anand'.rpartition('n') # partition from backwards

('ana', 'n', 'd')

In [90]:
'anand'.split('n')

['a', 'a', 'd']

In [91]:
'anand'.rsplit('n')

['a', 'a', 'd']

In [92]:
'anand'.split('n', maxsplit=1)

['a', 'and']

In [93]:
'anand'.rsplit('n', maxsplit=1)

['ana', 'd']

In [94]:
'textbook'.removeprefix('text')

'book'

In [95]:
'textbook'.removeprefix('ext') # if prefix is not the start of the string returns the entire string

'textbook'

In [96]:
'textbook'.removesuffix('book')

'text'

In [97]:
'textbook'.removesuffix('boo')

'textbook'

### String querying methods

In [98]:
'anand123'.isalnum()

True

In [99]:
'anand@123'.isalnum()

False

In [100]:
'anand123'.isalpha()

False

In [101]:
'anand'.isalpha()

True

In [102]:
'25091975'.isdecimal() # 0-9 only

True

In [103]:
'25091975'.isdigit()

True

In [104]:
print("\u00B2")
print("\u00B2".isdecimal())

²
False

In [105]:
print("\u00B2".isdigit()) # for other language digits also

True

In [106]:
'sum_digits_1_to_9'.isidentifier()

True

In [107]:
'as'.isidentifier() # keywords not checked by isidentifier()

True

In [108]:
from keyword import iskeyword
'as'.isidentifier() and not iskeyword('as')

False

In [109]:
'anand123'.islower()

True

In [110]:
'anand123'.isupper()

False

In [111]:
'abcd#12%'.isprintable()

True

In [112]:
'\n \t \v \f'.isspace()

True

In [113]:
'Anand'.istitle()

True

In [114]:
'Ananda Kumar'.istitle()

True

In [115]:
'Ananda Kumar'.isascii()

True

In [116]:
'Anand€'.isascii()

False

In [117]:
'11.68'.isnumeric()

False

In [118]:
'1168'.isnumeric()

True

In [119]:
'0xa'.isnumeric()

False

### String slicing (Access substrings)

In [120]:
'Ananda kumar'[2:5]

'and'

In [121]:
'Ananda kumar'[2:20]

'anda kumar'

In [122]:
'Ananda kumar'[:5]

'Anand'

In [123]:
'Ananda kumar'[5:]

'a kumar'

In [124]:
'Ananda kumar'[5::2]

'akmr'

In [125]:
'Ananda kumar'[5:8:2]

'ak'

In [126]:
'Ananda kumar'[-5:-1]

'kuma'

In [127]:
'Ananda kumar'[-5:]

'kumar'

In [128]:
'Ananda kumar'[:-5]

'Ananda '

In [129]:
'Ananda kumar'[-5::-1] # reversed substring

'k adnanA'

In [130]:
'Ananda kumar'[::-1] # Reverse the string

'ramuk adnanA'