### Reading input from the keyboard

In [1]:
name = input('Enter your name: ')
print(name)
print(type(name))

Ananda Kumar
<class 'str'>

In [2]:
age = input('Enter your age: ')
print(age)
print(type(age))

45
<class 'str'>

In [3]:
age = int(age)
print(age)
print(type(age))

45
<class 'int'>

In [4]:
percentage = float(input())
print(percentage)
print(type(percentage))

70.48
<class 'float'>

### better way to convert to the appropriate type is using eval() function

In [5]:
percentage = eval(input())
print(percentage)
print(type(percentage))

70.48
<class 'float'>

### print static text
#### string literals enclosed in single quotes or double quotes
#### triple single/double quotes to span the string to multiple lines

In [6]:
print('Hello World!')

Hello World!

In [7]:
print("Hello World!")

Hello World!

In [8]:
print("""Hello
World!""")

Hello
World!

In [9]:
print('''Hello
World
!''')

Hello
World
!

In [10]:
print('''\
Hello \
World\
!''')

Hello World!

### two print functions to print two numeric literals
#### print the two values in two separate lines
#### by default print function appends new line at the end of each line it prints

In [11]:
print(10)
print(20.58)

10
20.58

### output of two print functions can be displayed on a same screen

In [12]:
print(10, end=' ')
print(20.58)
print(30)

10 20.58
30

### you can pass more than one value to print function
#### by default separated by spaces

In [13]:
print(10, 20, 30.85)

10 20 30.85

In [14]:
print(10, 20, 30.85, sep=None)

10 20 30.85

In [15]:
print(10, 20, 30.85, sep=',')

10,20,30.85

### demonstrates print returns no value i.e. None

In [16]:
print(print('Hello'))

Hello
None

#### guess what print() without arguments will print

In [17]:
print()
print('new line')

new line

### printing to a file

In [18]:
print('fatal error', file=sys.stderr)

fatal error

In [19]:
sourceFile = open('python.txt', 'w+')
print('Hello World!', file = sourceFile)
print('Pretty cool, huh!', file = sourceFile)
sourceFile.close()

### display a variable's value along with a predefined string

In [20]:
name = 'anand'
age = 45
print(name, 'is a string and', age, 'is an integer')

anand is a string and 45 is an integer

### formatting using string modulo operator

In [21]:
print("%s is a string and %d is an integer"%(name, age))

anand is a string and 45 is an integer

In [22]:
print('%5d, %6i, %8u' % (42, 42, 42)) # all indicates decimal integers only

   42,     42,       42

In [23]:
print('%d, %o, %x, %X' % (42, 42, 42, 42)) # decimal, octal, hexadecimal

42, 52, 2a, 2A

In [24]:
print('%.1f, %F' % (25.25, 25.25)) # floating point

25.2, 25.250000

In [25]:
print('%e, %E' % (25.25, 25.25)) # exponential normalized floating point representation

2.525000e+01, 2.525000E+01

In [26]:
print('%g, %G' % (25.25, 0.000000025)) # floating point or exponential morethan 6 decimals changed to exponential

25.25, 2.5E-08

In [27]:
print('%s, %r, %a' % ('Hello', 'python', 'world')) # strings

Hello, 'python', 'world'

In [28]:
print('%c %%' % ('A')) # single character, % symbol

A %

In [29]:
print('%*d' % (5, 123)) # both are same * takes the value from the tuple
print('%5d' % (123))

  123
  123

In [30]:
print('%5d' % 123) 
print('%05d' % 123)

  123
00123

In [31]:
print('%5d' % 123)  # right justification (default)
print('%-5d' % 123) # changed to left justification

  123
123

In [32]:
print('%5d' % 123)
print('%+5d' % 123)

  123
 +123

In [33]:
print('%#o' % 42) #Display of base or decimal point for integer and floating point values

0o52

### better way is to use string format method
#### index numbers are represented with a curly bracket {} representing a placeholder

In [34]:
print("{} is a string and {} is an integer".format(name, age))

anand is a string and 45 is an integer

In [35]:
print("{0} is a string and {1} is an integer".format(name, age))

anand is a string and 45 is an integer

In [36]:
print("{1} is a string and {0} is an integer".format(age, name))

anand is a string and 45 is an integer

In [37]:
print("{:10s} is a string and {:4d} is an integer".format(name, age))

anand      is a string and   45 is an integer

In [38]:
print("{0:10s} is a string and {1:4d} is an integer".format(name, age))

anand      is a string and   45 is an integer

### format using f-strings

In [39]:
print(f"{name} is a string and {age} is an integer")

anand is a string and 45 is an integer

In [40]:
print(f"{name=} is a string and {age=} is an integer")

name='anand' is a string and age=45 is an integer

In [41]:
print(f"{name} is a string and {age:4d} is an integer")

anand is a string and   45 is an integer

In [42]:
print(f"{name=} is a string and {age=:4d} is an integer")

name='anand' is a string and age=  45 is an integer