### Integer arithmetic

In [1]:
a = 15 # automatic type conversion
b = 10

In [2]:
type(a)

int

In [3]:
type(b)

int

In [4]:
c = a + b # integer addition
print(c)
type(c)

25

int

In [5]:
c = a - b # integer subtraction
print(c)
type(c)

5

int

In [6]:
c = a * b # integer multiplication
print(c)
type(c)

150

int

In [7]:
c = a / b # integer division (result is float)
print(c)
type(c)

1.5

float

In [8]:
c = a // b # integer division
print(c)
type(c)

1

int

In [9]:
c = a % b # remainder applicable for integers only
print(c)
type(c)

5

int

In [10]:
c = a ** 2 # integer exponentiation
print(c)
type(c)

225

int

### float arithmetic

In [11]:
print(10.68 + 5.22)  # example of computation error

15.899999999999999

In [12]:
print(10.68 - 5.22)

5.46

In [13]:
print(10.68 * 5.22)

55.749599999999994

In [14]:
print(10.68 / 5.22)

2.045977011494253

In [15]:
print(10.68 // 5.22)

2.0

In [16]:
print(10.68 % 5.22)

0.2400000000000002

In [17]:
print(10.68 ** 2.5)

372.7589946350816

### string arithmetic

In [18]:
print('Hello' + ' World!') # concatenation only allowed arithmetic operator

Hello World!

In [19]:
print('Hello'  ' World!') # two string literals placed side by side are concatenated

Hello World!

### mixed arithmetic

In [20]:
a = 10
b = 15.68 # implicit type conversion int -> float
c = a + b # implicit type casting (type of a converted automatically from int to float)
print(c)
type(c)

25.68

float

In [21]:
c = int(c) # type casting float -> int, loss of data
print(c)
type(c)

25

int

In [22]:
c = int('100') # type casting string -> int
print(c)
type(c)

100

int

In [23]:
c = float('100.50') # type casting string -> float
print(c)
type(c)

100.5

float

In [24]:
c = str(a) # type casting int -> string
print(c)
type(c)

10

str

In [25]:
c = str(b) # type casting float -> string
print(c)
type(c)

15.68

str

In [26]:
print('Hello' a)

SyntaxError: invalid syntax (<ipython-input-26-58a66c2fe04d>, line 1)

In [27]:
print('Hello ' + a)

TypeError: can only concatenate str (not "int") to str

In [28]:
print('Hello ' + str(a))

Hello 10

In [29]:
print('Hello ' + str(b))

Hello 15.68

In [30]:
print('Hello ' * 3) # string repetition only you need to specify one argument as int

Hello Hello Hello

In [31]:
print(3 * 'Hello ')

Hello Hello Hello

In [32]:
print('Hello ' * 3.5)

TypeError: can't multiply sequence by non-int of type 'float'

### Relational operators

In [33]:
a = 10
b = 20

In [34]:
print(a == b)

False

In [35]:
print(a != b)

True

In [36]:
print(a > b)

False

In [37]:
print(a >= b)

False

In [38]:
print(a <= b)

True

In [39]:
print(a < b)

True

In [40]:
print(a << 2)

40

In [41]:
print(a >> 1)

5

In [42]:
print(~a)

-11

### bit-wise operators

In [43]:
print(a & b)

0

In [44]:
print(a | b)

30

In [45]:
print(a ^ b)

30

In [46]:
print(a << 2)

40

In [47]:
print(a >> 2)

2

In [48]:
print(~a)

-11

### assignment operators

In [49]:
a += b
print(a)

30

In [50]:
a -= b
print(a)

10

In [51]:
a *= b
print(a)

200

In [52]:
a /= b
print(a)

10.0

In [53]:
a = int(a)
print(a)

10

In [54]:
a **= 2
print(a)

100

In [55]:
a //= 10
print(a)

10

In [56]:
a <<= 5
print(a)

320

In [57]:
a ^= b
print(a)

340

### Logical operators

In [58]:
x = True
y = False

In [59]:
print(x and y)

False

In [60]:
print(x or y)

True

In [61]:
print(not y)

True

### identity operators

In [62]:
a = b = 10 # same id

In [63]:
print(a is b)

True

In [64]:
b = 20 # id of b changed

In [65]:
print(a is b)

False

In [66]:
print(a is not b)

True

### Membership operators (checks a value found in another sequence string, tuple, list, dict)

In [67]:
print('n' in 'anand')

True

In [68]:
print('an' not in 'anand')

False

### performing all these operations in functional programming way

In [69]:
from Lib import operator

In [70]:
print(operator.add(10, 20))

30

In [71]:
type(operator.lshift(10, 2))

int

In [72]:
print(operator.or_(10,4))

14

In [73]:
a = 10
b = 20
print(operator.iadd(a, b)) # a += b

30

In [74]:
print(a) # in the above a value is computedis not changed as variable is immutable target

10

In [75]:
a = operator.iadd(a, b)
print(a)

30

### Special variable _ (underscre)
#### holds the value of the last executed expression
#### general purpose "throwaway" variable

In [76]:
10 + 20

30

In [77]:
_ * 10

300

In [78]:
_ // 5

60

In [79]:
a, _, b = 10, 20, 30

In [80]:
print(a, b)

10 30